#blogo > a{
    display: inline-block;
    margin-top: 10%;
    width: 300px;
    width: 50vw;
    max-width: 400px;
    margin-bottom: 0px;
}

.bnavbar{
    position: relative;
    width: 100%;
    text-align: center;
    background: black;
    padding-top: 10px;
    padding-bottom: 10%;
}

/* INFO PANEL */
#carousel-panel{
    position: relative;
    background-color: whitesmoke;
    height: auto;
    overflow: hidden;
}

table{
    width: 100%;
    table-layout: fixed;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.text-carousel{
    max-width: 50%;
    max-height: 90%;
    position: absolute;
    right: 0;
    bottom: 20%;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.6)
}

.text{
    font-size: 20pt;
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
}

@media(max-width: 800px){
    .text{
        font-size: 12pt;
        font-size: 4vw;

    }
    .text-carousel{
        max-width: 100%;
    }
}

.image-carousel{
    width: 100%;
    height: 100%;
    float: left;
    margin: 0 auto;
}

!.image-carousel:hover > .slick-prev{
    visibility: visible;
}
!.image-carousel:hover > .slick-next{
    visibility: visible;
}

/* overlay arrows in carousel */
.slick-prev { left: 10px; z-index: 999; visibility: hidden; }
.slick-next { right: 10px; z-index: 999; visibility: hidden; }

.image > img{
    width: 100%;
}

#come-panel{
    background: whitesmoke;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 30pt;
    padding: 80px 0px 80px 0px;
}
.button {
    border: 1pt solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

@media(max-width: 600px){
    #come-panel{
        font-size: 15pt;
        font-size: 6vw;
        padding: 50px 0px 50px 0px;
    }
    .button{
        font-size: 10pt;
        padding: 5px 5px;
        margin-top: 10px;
    }
}

#info-panel{
    color: white;
    background: black;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px 40px 0px;
}

#infotable{
    display: inline-block;
    table-layout: fixed;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.box{
    text-align: center;
    width: 25%;
    padding: 30px 0px 30px 0px;
}

.tabletext{
    padding: 0px 30px 0px 30px;
}

.glosstext{
    color: #c42228;
    font-size: 30pt;
}

.glosssubtext{
    font-size: 15pt;
    color: white;
}

.icon{
    width: 20%;
    filter: invert(100%);
}

@media(max-width: 1200px){
    .box{
        width: 50%;
    }
}
@media(max-width: 600px){
    .box{
        width: 100%;
    }
}

#footer-divider{
    background-color: whitesmoke;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
}

.nodec{
    text-decoration: none;
    color: white;
}

.justify{
    text-align: justify;
}

/* center text carousel */
.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
}