/* INFO PANEL */
#info-panel{
    height: 50%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.image-carousel{
    width: 500px;
    margin: 0 auto;
    border: solid 10px black;
    border-radius: 5px;
}

.image > img{
    width: 500px;
}