/* INFO PANEL */
#info-panel{
    height: 50%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.image-carousel{
    width: 40vw;
    margin: 0 auto;
    border: solid 5px black;
}

.image > img{
    width: 40vw;
}

@media (max-width: 600px){
    .image-carousel{
        width: 80vw;
        border: solid 3px black;
    }

    .image > img{
        width: 80vw;
    }
}