.header{
    position: relative;
    margin-top: 15px;
}

.logo{
    position: relative;
    margin-left: 5%;
    width: 25%;
    max-width: 200px;
}
.logo > a{
    display: inline-block;
    width: 100%;
}

.img-responsive{
    width: 100%; 
}

.navbar{
    position: absolute;
    bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.social-media{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5%;
    margin-bottom: 5px;
}

.social-media > a{
    display: inline;
    margin: 3px;
    color: white;
    text-decoration: none;
}

.red-divider{
    height: 2px;
    background-color: #c42228;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
    width: 90%;
    padding: 0;
}

.address .phone {
    font-size: 12px;
}

.footer{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

/* Mobile */
@media (max-width:750px){
    .logo{
        min-width: 150px;
    }
    .navbar{
        position: relative;
        bottom: -22px;
    }
    
    .navbar > a {
        font-size: 10pt;
    }
    
    .logo{
        margin: 0 auto;
    }
}

/* XS */
@media (max-width:350px){
    .logo{
        min-width: 150px;
    }
    .navbar{
        position: relative;
        bottom: -22px;
    }
    
    .navbar > a {
        font-size: 10pt;
    }
    
    .logo{
        margin: 0 auto;
    }
    
    .social-media{
        display: none;
    }
}

/* XS */
@media (max-width:225px){
    .logo{
        min-width: 150px;
    }
    .navbar{
        position: relative;
        bottom: -22px;
    }
    
    .navbar > a {
        font-size: 10pt;
    }
    
    .logo{
        margin: 0 auto;
    }
    
    .social-media{
        display: none;
    }
    
    .red-divider{
        display: none;
    }
}