.menu{
    display: inline-block;
    margin: 10px;
}

.menu > img{
    width: 40vw;
    border: solid 0.3vw black;
}

#body-panel{
    margin-top: 10px;
}

@media (max-width: 600px){
    .menu > img{
        width: 40vw;
        border: solid 0.5vw black;
    }
}