ul{
    list-style-type: none;
}

#menu{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    -webkit-justify-content: center;
	justify-content: center;
    margin-bottom: 10%;
    margin-top: 2%;
    overflow: hidden;
}

.card{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    padding: 0px 10px 0px 10px;
}

.menu-section{
    width: 25%;
    max-width: 500px;
    margin: 20px;
    align-self: flex-start;
    cursor: pointer;
}

.menu-section > a{
    text-decoration: none;
}

.menu-section > i{
    padding-bottom: 5px;
}
.menu-title{
    padding: 10px 0px 10px 0px;
}

.menu-content{
    padding: 5px 5px 10px 5px;
    display: none;
}

.glosstext{
    color: #c42228;
    font-size: 30pt;
}

.glosssubtext{
    font-size: 15pt;
    color: black;
}

.menu-subtitle{
    font-style: italic;
    margin-top: -10px;
}

.item{
    font-weight: bold;
}

.subitem{
    font-style: italic;
}

.description{
    font-weight: normal;
}

.description, .nodesc>.item, .menu-subtitle{
    padding-bottom: 10px;
}

@media (max-width: 1250px){
    .menu-section{
        width: 40%;
    }
}

@media (max-width: 700px){
    .menu-section{
        width: 90%;
        margin: 5px 10px 5px 10px;
    }
}