#body-panel{
    margin-top: 10px;
}

.my-gallery {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}
.my-gallery img {
    width: 100%;
    height: auto;
}
.my-gallery figure {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 20vw;
    border: solid 2px black;
    border-radius: 5px;
}
.my-gallery figcaption {
    display: none;
}

@media (max-width: 700px){
.my-gallery figure{
        width: 40vw;
        border: solid 0.5vw black;
    }
}