body {
    background-color: #000000;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
}

.header{
    margin-top: 30px;
}
.logo .img-responsive{
    margin: 0 auto;
    width: 50%;
    max-width: 400px; 
}

.red-divider{
    height: 2px;
    background-color: #c42228;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
    width: 90%;
    padding: 0;
}

.navbar{
    margin-top: 10px;
    text-align: center;
}

h2 {
    display: inline;
    padding: 5px;
    
}
/* navbar hover */
.navbar-page {
    position: relative;
    color: white;
    text-decoration: none;
}

.navbar-page:hover {
    color: white;
    text-decoration: none;
}

.navbar-page:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c42228;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-page:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* end navbar hover */

.navbar-selected{
    border-bottom: 2px solid #c42228;
    color: white;
}
.navbar-selected:hover {
    color: white;
    text-decoration: none;
}

.footer{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}